@model IEnumerable<Montadora_Arlisson_Menacho.Models.Fornecedor>

@{
    ViewData["Title"] = "Lista";
}

<h2>Lista de Fornecedores</h2>

<p>
    <a asp-action="Novo"class="btn btn-default">Cadastrar Fornecedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a href="/Fornecedor/Alterar/@item.Id" class="btn btn-warning">Editar</a>
                <a href="/Fornecedor/Excluir/@item.Id" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
